{% comment %} Instagram Feed {% endcomment %}
{% assign lists = metaobjects['instagram-list']['instagram-feed-list'] %}

<section class="instagram-feed">
  <header>
    <h2>Instagram Feed</h2>
  </header>
  <div class="instagram-cards">
    {% for post in lists.posts.value %}
      <div class="instagram-card">
        {% for media in post.images.value %}
          {% if media.sources %}
            {{ media | video_tag: autoplay: true, loop: true, muted: true, class: 'instagram-video' }}

          {% else %}
            <img
              class="instagram-image"
              src="{{ media | image_url: width: 800, height: 1200, crop: 'center' }}"
              width="320"
              height="480"
              alt="Instagram Post Image"
            >
          {% endif %}
        {% endfor %}
        <div class="overlay">
          <div class="stats">
            <span class="likes">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="30"
                height="30"
                viewBox="0 0 256 256"
                xml:space="preserve"
              >
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(45.02412451361867 45.024124513618645) scale(1.83 1.83)">
                	<path d="M 45 86.03 L 7.247 48.276 C 2.574 43.604 0 37.391 0 30.782 c 0 -6.608 2.574 -12.821 7.247 -17.494 s 10.886 -7.247 17.495 -7.247 c 6.608 0 12.821 2.574 17.494 7.247 L 45 16.052 l 2.765 -2.765 c 4.673 -4.673 10.886 -7.247 17.494 -7.247 c 6.609 0 12.822 2.574 17.494 7.247 l 0 0 C 87.427 17.96 90 24.173 90 30.782 c 0 6.609 -2.573 12.822 -7.247 17.495 L 45 86.03 z M 24.741 16.041 c -3.938 0 -7.639 1.534 -10.423 4.318 S 10 26.845 10 30.782 c 0 3.938 1.534 7.639 4.318 10.423 L 45 71.888 l 30.682 -30.683 C 78.467 38.421 80 34.719 80 30.782 c 0 -3.937 -1.533 -7.639 -4.317 -10.423 l 0 0 c -2.784 -2.784 -6.486 -4.318 -10.424 -4.318 s -7.639 1.534 -10.424 4.318 L 45 30.194 l -9.835 -9.835 C 32.38 17.575 28.678 16.041 24.741 16.041 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgba(255, 255, 255, 1); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
              </svg>
              {{ post.likes.value }}
            </span>
            <span class="comments">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="20"
                height="20"
                viewBox="0 0 256 256"
                xml:space="preserve"
              >
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                	<path d="M 86.999 90 c -0.367 0 -0.737 -0.067 -1.092 -0.206 l -17.016 -6.655 C 61.734 87.633 53.509 90 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 24.813 0 45 20.187 45 45 c 0 8.509 -2.367 16.734 -6.861 23.892 l 6.655 17.016 c 0.434 1.11 0.17 2.371 -0.673 3.214 C 88.548 89.694 87.78 90 86.999 90 z M 45 6 C 23.495 6 6 23.495 6 45 s 17.495 39 39 39 c 7.839 0 15.398 -2.317 21.862 -6.7 c 0.818 -0.555 1.855 -0.671 2.776 -0.312 l 12.07 4.721 l -4.721 -12.07 c -0.36 -0.92 -0.243 -1.959 0.312 -2.776 C 81.683 60.398 84 52.839 84 45 C 84 23.495 66.505 6 45 6 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgba(255, 255, 255, 1); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
              </svg>
              {{ post.comments.value -}}
            </span>
          </div>
          <p class="caption">{{ post.caption.value }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <footer class="handle">
    <h6>@{{ lists.username.value }}</h6>
  </footer>
</section>

<script>
  document.querySelectorAll('.instagram-video').forEach((video) => {
    video.addEventListener('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      this.paused ? this.play() : this.pause();
    });
  });
</script>

<style>
  header {
  }
  .instagram-feed {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100vw;
  }
  .debug {
    background-color: red;
    width: 100%;
    height: 200px;
  }

  .instagram-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
    overflow-x: hidden;
    max-width: 100%;
  }
  .instagram-card {
    position: relative;
    flex: 0 0 auto;
    width: 320px;
    aspect-ratio: 4 / 6;
    border-radius: 24px;
    background: #222;
  }
  .overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    border-radius: 24px;
  }

  .instagram-card:hover .overlay {
    opacity: 1;
  }

  .instagram-image,
  .instagram-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }

  .instagram-card:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  p {
    color: white;
  }
  span {
    color: white;
  }
  .stats {
    position: absolute;
    bottom: 40px;
    left: 10px;
    display: flex;
    gap: 5em;
    font-size: 16px;
    font-weight: bold;
  }
  .caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 14px;
  }
  .likes {
    display: inline-flex;
    align-items: center;
  }
  .comments {
    display: inline-flex;
    gap: 5px;
    align-items: center;
  }
  h6 {
    color: #333;
    text-align: center;
    font-weight: bold;
  }
</style>

{% schema %}
{
  "name": "Instagram Feed",
  "target": "section",
  "settings": [
    {
      "type": "range",
      "id": "posts_limit",
      "label": "Number of posts",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 12
    }
  ]
}
{% endschema %}
